# Filtering rows in a DataFrame

Fonte: https://towardsdatascience.com/8-ways-to-filter-pandas-dataframes-d34ba585c1b8

In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame({'name':['Jane','John','Ashley','Mike','Emily','Jack','Catlin'],
'ctg':['A','A','C','B','B','C','B'],
'val':np.random.random(7).round(2),
'val2':np.random.randint(1,10, size=7)})

In [6]:
display(df)

     name ctg   val  val2
0    Jane   A  0.86     4
1    John   A  0.54     8
2  Ashley   C  0.36     7
3    Mike   B  0.08     3
4   Emily   B  0.33     1
5    Jack   C  0.36     9
6  Catlin   B  0.38     4

In [7]:
# Filtrando por condição de uma coluna
df[df.val > 0.5]

   name ctg   val  val2
0  Jane   A  0.86     4
1  John   A  0.54     8

In [23]:
# Filtrando por condição de duas ou mais colunas
df[(df.val > 0.5) & df.name.str.startswith("Jo")]

   name ctg   val  val2
b  John   A  0.54     8

In [24]:
# Filtrando por condição de uma coluna contendo string

'''CONTAINS = contém o caractere em qualquer posição'''
df[df.name.str.contains('y')]

     name ctg   val  val2
c  Ashley   C  0.36     7
e   Emily   B  0.33     1

In [11]:
'''STARTSWITH = contém o caractere na primeira posição'''
df[df.name.str.startswith('J')]

   name ctg   val  val2
0  Jane   A  0.86     4
1  John   A  0.54     8
5  Jack   C  0.36     9

In [12]:
'''~(tilde) = exclui as linhas que atendem a condição'''
df[~df.name.str.startswith('J')]

     name ctg   val  val2
2  Ashley   C  0.36     7
3    Mike   B  0.08     3
4   Emily   B  0.33     1
6  Catlin   B  0.38     4

In [16]:
# Query

'''Permite combinar condições entre aspas simples'''
df.query('ctg == "B" and val > 0.3')

     name ctg   val  val2
4   Emily   B  0.33     1
6  Catlin   B  0.38     4

In [17]:
df.iloc[3:5, :] #rows 3 and 4, all columns

    name ctg   val  val2
3   Mike   B  0.08     3
4  Emily   B  0.33     1

In [18]:
df.loc[3:5, :] #rows 3 to 5, included, all columns

    name ctg   val  val2
3   Mike   B  0.08     3
4  Emily   B  0.33     1
5   Jack   C  0.36     9

In [19]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [21]:
df.index = ['a','b','c','d','e','f','g']
display(df)

     name ctg   val  val2
a    Jane   A  0.86     4
b    John   A  0.54     8
c  Ashley   C  0.36     7
d    Mike   B  0.08     3
e   Emily   B  0.33     1
f    Jack   C  0.36     9
g  Catlin   B  0.38     4

In [22]:
df.loc['b':'d', :]

     name ctg   val  val2
b    John   A  0.54     8
c  Ashley   C  0.36     7
d    Mike   B  0.08     3